* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ESTRUTURA

Cabeçalho*/
#topo-loja {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

#bt-menu,
#label-menu {
  display: none;
}

#menu ul {
  list-style: none;
  margin-top: 10px;
}

#menu li {
  display: inline-block;
  margin: 0 10px;
}

#menu a {
  color: #f1c40f;
  text-decoration: none;
  font-weight: bold;
}

.titulo-secao {
  text-align: center;
  margin-top: 40px;
  color: #2c3e50;
}

/*ESTRUTURA MAIN */

.vitrine-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.preco {
  display: block;
  color: #e67e22;
  font-weight: bold;
  margin: 10px 0;
}

.bt-pedido {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

#rodape {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
  margin-top: 40px;
  text-align: center;
}

/*AGORA COMEÇA O MEDIA QUERY */

@media screen {
  #topo-loja h1 {
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
}

/*TELAS ENTRE 601PX E 1024PX - TABLET */

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .vitrine-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* TELAS ATÉ 600PX - CELULARES */

@media screen and (max-width: 600px), (orientation: portrait) {
  #label-menu {
    display: block;
    font-size: 2.5rem;
    color: #f1c04f;
    cursor: pointer;
    margin-top: 10px;
  }

  #menu ul {
    display: none;
  }

  #bt-menu:checked ~ #menu ul {
    display: block;
    padding: 10px 0;
  }

  .vitrine-grid {
    grid-template-columns: 1fr;
  }

  .desc {
    display: none;
  }

  #menu li {
    display: block;
    margin: 15px 0;
    border-bottom: 1px, solid, #34495e;
    padding-bottom: 10px;
  }
}

@media not screen {
    #menu, .bt-pedido, #label-menu, #bt-menu {
        display: none;
    }
}
