/* CSS focado em Grid com estilização simples de LMC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ERRO: Escondendo o foco */
.abas-lista:focus {
outline: 3px solid #f1c40f;
  background-color: #1b5e20;
}

header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  align-items: center;
}

.banner-hero {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.menu-container {
  padding: 40px 5%;
}

input[type="radio"] {
  display: none;
}

label {
  padding: 10px 30px;
  background-color: #eee;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

input:checked + label {
  background-color: #e67e22;
  color: white;
}

/* Sistema de exibição das telas */
.aba-tela{
    display: none;
}

#massa:checked ~ #tela-massas {
  display: block;
}

/* GRID DE PRODUTOS */
.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Colunas iguais */
  gap: 20px;
  margin-top: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #f9f9f9;
}

.card img {
  width: 100%;
  height: 200px;
}

.card h3 {
  display: block;
  margin: 10px 0;
  color: #e67e22;
  font-weight: bold;
}

.btn-pedir {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn-pedir:focus{
    background-color: white;
    color:green;
}


footer {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
}

footer p{
    color: white;
}
